<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Carpooling"
        tools:targetApi="31">
        <activity
            android:name=".ChattingActivity"
            android:exported="false"
            android:label="@string/title_activity_chatting"
            android:theme="@style/Theme.Carpooling" />
        <activity
            android:name=".HomeScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.Carpooling" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Carpooling" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Carpooling" />
        <activity
            android:name=".requestride.Activity.RequestRideActivity"
            android:exported="false"
            android:label="@string/title_activity_request_ride"
            android:theme="@style/Theme.Carpooling" />
        <activity
            android:name=".offerride.Activity.RequestRide"
            android:exported="false"
            android:label="@string/title_activity_request_ride"
            android:theme="@style/Theme.Carpooling" />
        <activity
            android:name=".offerride.Activity.OfferRideActivity"
            android:exported="false"
            android:label="@string/title_activity_offer_ride"
            android:theme="@style/Theme.Carpooling" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDIr59pQ94XAbWKOoN8NBEVY19bLU-dKtg" />

        <activity
            android:name=".offerride.OfferRide"
            android:exported="false"
            android:label="@string/title_activity_offer_ride"
            android:theme="@style/Theme.Carpooling" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Carpooling">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>